.Header {
	width: 100%;
	border-bottom: 1px solid #CCC;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #fff;
	
}

.Header--inner {
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	> div {
		padding: 0 3rem;
	}
}
